@use "theme"

// Pure

@import "https://unpkg.com/purecss@1.0.1/build/pure-min.css"
@import "https://unpkg.com/purecss@1.0.1/build/base-min.css"
@import "https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css"

html,body
  box-sizing: border-box
  margin: 0
  padding: 0
  background-color: theme.$bg-colour
  font-size: 16px

*,
*::before,
*::after
  box-sizing: inherit
  font-family: 'Source Code Pro', monospace

h1
  color: theme.$main-text-colour

h2,h3
  color: theme.$main-text-colour

.section
  width: 100vw
  height: 100vh
  padding: 1em
  text-align: center

a
    color: theme.$main-text-colour
    text-decoration: none
    font-weight: bold

    &:hover
      color: theme.$accent-colour

.sidebar
  position: fixed
  top: 0
  bottom: 0

.content
  margin-left: 33%
  padding: 2em 3em 0

@media screen and (max-width: 768px)
  .sidebar
    position: unset

  .content
    margin-left: 0
